@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #081a24;
}

header nav {
    padding: 4px;
}

.image-logo {
    margin-left: 8%;
}

.menu ul {
    float: right;
    margin-right: 8%;
}

.menu ul li {
    float: left;
    list-style: none;
    margin-right: 24px;
    padding: 8px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1e5357;
}

.image-banner {
    clear: both;
    height: 600px;
    background-image: url(/public/assets/topo.jpg);
    background-size: cover; 
    background-position: left bottom;
}