@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-weight: 400;
    line-height: 1.5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 80px 54px 72px;
    box-sizing: border-box;
    background-image: url(/public/assets/overlay.png), url(/public/assets/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: color 150ms linear, 
                border 150ms linear;
    color: #49bf9d;
}

a:hover {
    border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: 400;
    margin: 0 0 1em; /* EM unidade relativa ao tamanho da fonte*/
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 0 0 2em;
}

sub, sup {
    font-size: 12px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: 0.5em 0 0.5em 1.5em;
}

code {
    background-color: #f7f7f7;
    border-radius: 0.35em;
    border: 2px solid #efefef;
    font-size: 0.9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', monospace;
    color: #929292;
}

pre code {
    display: block;
}

.header-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.header-title strong {
    color: white;
    font-weight: 400;
}

.header-link {
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    
}

.header-link:hover {
    color: #49bf9d;
}

main {
    width: 65%;
    margin-left: 35%;
    padding: 80px 54px 72px;
    box-sizing: border-box;
}