@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-color: #612674;
    --second-color: #7c3792;
    --third-color: #58c4c4;
    --fourth-color: #521a66;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto';
    /* background-color: #efefef; */
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* === HEADER === */

header {
    text-align: center;
}

.nav_container {
    text-align: center;
    margin-top: 1em;
}

.nav_container ul {
    list-style-type: none;
    width: 99%;
    margin: auto;
}

.nav_container ul li {
    background-color: var(--main-color);
}

.nav_container ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 95%;
    padding: 1em;
    box-sizing: border-box;
    transition: all 200ms;
}

.nav_container ul li:first-child a {
    margin-top: 1%;
}

.nav_container ul li:last-child a {
    margin-bottom: 1%;
}

.nav_container ul li a:hover {
    background-color: var(--second-color);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.288);
}

/* === MAIN === */

/* === FIRST SECTION == */

.first_container {
    margin-top: 2em;
    text-align: center;
}

.first_container div h1 {
    color: var(--main-color);
}

.first_container div h2 {
    font-size: 1em;
    width: 90%;
    margin: 1.5em auto;
    color: var(--second-color);
    line-height: 1.5;
}

.button-default {
    display: inline-block;
    background-color: var(--third-color);
    padding: 1em 2em;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.button-default:hover {
    background-color: #37a0a0;
}

/* === SECOND SECTION === */

.spiv {
    width: 90%;
    margin: 1.5em auto;
    display: block;
    border-bottom: 2px solid var(--second-color);
}

.second_container {
    text-align: center;
    margin-top: 2em;
}

.info_container {
    margin: 3em 0;
}

.second_container span[class^="icon"] {
    color: var(--main-color);
    font-size: 2.5em;
    display: inline-block;
    margin-bottom: 0.2em;
}

.info_title {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--second-color);
    margin-bottom: 0.5em;
}

.info {
    width: 90%;
    margin: auto;
    line-height: 1.5;
}

/* === THIRD SECTION === */

.third_container {
    width: 92%;
    margin: auto;
}

.third_info_container {
    margin: 2.5em 0;
}

.third_info_title {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--second-color);
    margin-bottom: 1em;
}

.third_info {
    line-height: 1.5;
}

.third_button {
    margin-top: 1em;
}

/* === FOOTER === */

footer {
    background-color: #25303e;
    text-align: center;
}

footer div ul {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #303d4c;
    padding: 0.5em;
    box-sizing: border-box;
    list-style: none;
}

footer div ul li{
    display: inline-block;
    margin: 0 1em;
}

footer div ul li a{
    text-decoration: none;
}

footer span[class^="icon"] {
    font-size: 2em;
    color: white;
}

.copyright_container {
    padding: 1em;
}

.copyright_container p{
    text-align: center;
    color: #acacac;
    margin-top: 0.5em;
    font-size: 1em;
}

/* === RESPONSIVIDADE === */

@media screen and (min-width: 50.25em) {

    /* === HEADER === */

    header {
        margin: 1em 0;
        text-align: left;
        /* background-color: cornflowerblue; */
    }

    .i_container {
        float: left;
        margin: 0.75em 0 0 1em;
        /* background-color: darkcyan; */
    }
    .i_container img{
        display: block;
        /* width: 300px; */
    }

    .nav_container {
        margin-top: 0;
        float: right;
    }
    
    .nav_container ul {
        width: 100%;
        margin: 1.1em auto;
        /* background-color: cyan; */
    }
    
    .nav_container ul li {
        text-align: center;
        background-color: unset;
        display: inline-block;
    }
    
    .nav_container ul li a {
        color: var(--main-color);
        font-size: 1em;
        letter-spacing: 0.2em;
        width: 8em;
        border-radius: 0.5em;
    }
    
    .nav_container ul li:first-child a {
        margin-top: 0;
    }
    
    .nav_container ul li:last-child a {
        margin-bottom: 0;
    }
    
    .nav_container ul li a:hover {
        background-color: var(--second-color);
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.288);
        color: white;
    }

    /* === MAIN === */

    /* === FIRST SECTION == */

    .first_container {
        background-color: var(--fourth-color);
        margin-top: 0;
        padding: 1em;
    }

    .first_container div h1 {
        color: white;
        margin-top: 1em;
        letter-spacing: 1.5px;
    }

    .first_container div h2 {
        color: white;
        font-weight: normal;
    }

    .button-default {
        font-size: 1.3em;
    }

    /* === SECOND SECTION === */

    .spivone {
        display: none;
    }

    .second_container {
        margin-top: 0;
    }

    .second_container article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .second_container span[class^="icon"] {
        font-size: 3.5em;
    }

    .info_title {
        font-size: 1.5em;
    }

    .info {
        font-size: 1.2em;
    }

    /* === THIRD SECTION === */

    .third_info_title {
        font-size: 1.3em;
    }

    .third_info {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 62.5em) {
    /* === MAIN === */

    /* === FIRST SECTION == */

    .first_container {
        background-color: var(--fourth-color);
        background-image: url(/public/assets/bg_topo_1198x670.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 30em;
        padding-top: 15em;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 74em) {
    /* === MAIN === */

    /* === FIRST SECTION == */

    .first_container {
        margin-top: unset;
        background-image: url(/public/assets/bg_topo_1600x1374.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 35em;
        padding-top: 19em;
    }

    .first_container div h1 {
        color: white;
        font-size: 2em;
    }
    
    .first_container div h2 {
        font-size: 1.3em;
    }

    /* === SECOND SECTION === */

    .spiv {
        width: 95%;
    }

    .second_container article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* === THIRD SECTION === */

    .third_container article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .third_info_container {
        margin: 1em 0;
    }
}